<h1>Welcome!</h1>
<body>Search by food items and find recipes for dinner! (Please separate multiple ingredients by a comma) 
</body>


 <form action="/recipes" method="get">
  <label>Search: <input name="search"></label>
  <button>Submit</button>
 </form>


 <ul>
  <% @results.each do |result| %>
    <li><a href="/search/<%= result['recipe_id'] %>"><%= result['title'] %></a></li>

  <% end %>
 </ul>